:root {
  // Colors
  --main-bg-color: #1e1e20;
  --main-text-color: #ffffff;

  //Gradient
  --main-gradient: linear-gradient(
    90deg,
    #ff8078 0%,
    #ee494a 35%,
    #7749aa 70%,
    #2a2b62 100%
  );

  // Margin and Padding
}
