<app-header></app-header>

<section class="hero content">
  <section>
    <h1>Best <span>NFT</span> Collection for Your Future</h1>
    <div>
      <app-button
        [typeOfButton]="TypeOfButtonEnum.plain"
        [buttonContent]="'Explore Now'"
      ></app-button>
      <app-button
        [typeOfButton]="TypeOfButtonEnum.gradientBorder"
        [buttonContent]="'Create NFT'"
      ></app-button>
    </div>
    <app-list-key-number></app-list-key-number>
  </section>
  <section>
    <div class="nft-image">
      <img src="assets/images/nft.png" alt="" srcset="" />
      <app-auction-card></app-auction-card>
    </div>
  </section>
</section>
<section class="keypoints content">
  <ul>
    <li *ngFor="let keyPoint of listOfKeypoints">
      <app-key-points
        [icon]="keyPoint.icon"
        [content]="keyPoint.content"
      ></app-key-points>
    </li>
  </ul>
</section>
